/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* header */

.header {
    /* debug */
    background-color: rgb(185, 222, 252);
    height: 60px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.logo, .loginsite {
    border: 1px solid black;
    background-color: rgb(248, 207, 26);
    width: 10%;
    padding: 0 10px;
    padding-top: 5px;
}

.loginsite {
    text-align: right;
}

.nv-menu {
    border: 1px solid black;
    background-color: rgb(248, 207, 26);
    width: 40%;
    padding-top: 5px;
}

.nv-link {
    list-style: none;
    text-align: center;
}

.nv-menu li {
    display: inline-block;
    margin: 0 3px;
}



/* section1 */
.bg-section1 {
    background-color: rgb(8, 84, 226);
    padding: 30px 100px;
}

.box-sc1 {
    background-color: rgb(192, 34, 212);
    height: 400px;
    width: 80%;
}

/* section2-4 */
.bg-section24 {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
}

.box-sc24 {
    background-color: rgb(7, 144, 223);
    height: 400px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box2-sc24 {
    background-color: rgb(221, 117, 204);
    height: 400px;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* section3 */
.bg-section3 {
    background-color: rgb(219, 219, 219);
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
}

.box-sc3 {
    background-color: rgb(221, 117, 204);
    height: 400px;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.box2-sc3 {
    background-color: rgb(7, 144, 223);
    height: 400px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}


